p {
    color: rgb(255, 255, 255);
    background-color: rgb(3, 150, 235);
}

body {
    background-color:rgb(11, 102, 145);
}

strong {
    padding: 1em;
    margin: 1em;
    border: 1px solid;
    display: inline-block;
    align-self: middle;
    font-family: "Jacquarda Bastarda 9", serif;
    font-weight: 400;
    font-style: normal;
  }

h1 {
    font-style: oblique;
    align-items: center;
    position: sticky;
    top: 30px;
    left: 30px;
}
.sticky {
    z-index: 10;
    background-color: rgb(0, 0, 0, 0.5);
}

a {
    background-color: aliceblue;
}
img {
    align-items: center;
}

.jacquarda-bastarda-9-regular {
    font-family: "Tangerine", serif;
    border: 5px solid;
  }

  a:hover{
    font-size: xx-large;
    background-color: rgb(7, 7, 7);
    font-family: "Libre Barcode 39 Extended Text", system-ui;
  }