p {
    color: rgb(255, 255, 255);
    background-color: rgb(3, 150, 235);
}

body {
    background-color:rgb(11, 102, 145);
}

strong {
    padding: 0.5em;
    margin: 0.5em;
    border: 1px solid;
    display: inline-block;
    align-self: middle;
    font-family: "Jacquarda Bastarda 9", serif;
    font-weight: 400;
    font-style: normal;
  }

h1 {
    font-style: oblique;
    align-items: center;
    top: 30px;
    left: 30px;
}
.sticky {
    background-color: rgb(0, 0, 0, 0.75);
    position: sticky;
}

a {
    background-color: aliceblue;
}
img {
    align-items: center;
}

.jacquarda-bastarda-9-regular {
    font-family: "Tangerine", serif;
    border: 5px solid;
  }

a:hover{
    font-size: xx-large;
    background-color: rgb(7, 7, 7);
    font-family: "Libre Barcode 39 Extended Text", system-ui;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#div1 {
    position:sticky;
    bottom: 0;
}
#im {
    position: sticky;
    background-color: rgb(3, 150, 235);
    -webkit-animation: linear infinite;
    -webkit-animation-name: run;
    -webkit-animation-duration: 10s;
}

@-webkit-keyframes run {
0% {
    left: 0;
    -webkit-transform: rotateY(180deg); 
}
48% {
    -webkit-transform: rotateY(180deg); 
}
50% { 
    left: calc(100% - 100px);
    -webkit-transform: rotateY(0deg); 
}
48% {
    -webkit-transform: rotateY(0deg); 
}
100% {
    left: 0;    
    -webkit-transform: rotateY(180deg);
}
}